
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: #faf3fa;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.demo {
    background-color: #b370b0; 
    padding: 0;
    color: black;
    font-family: 'Montserrat';
}

.menu a:hover,
.menu a:focus {
    background-color: #d1c8e1;
    text-decoration: underline;  
}

.header {
    background-color: #c3cae0;
    padding: 5px;
    text-align: center;
    color: white;
}

.order-container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 25px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(28, 26, 26, 0.1);
}

.order-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form label {
    font-weight: bold;
    margin-top: 15px;
}

.order-form input,
.order-form select {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aeb8d8;
    font-size: 16px;
}

.submit-btn {
    margin-top: 25px;
    padding: 12px;
    font-size: 18px;
    background-color: #87255b;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.submit-btn:hover {
    background-color: #c3c3e6;
    color: #333;
}


.site-footer {
    background-color: #b370b0;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    line-height: 1.5;
    font-family: 'Montserrat';
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

.site-footer p {
    font-size: 14px;
    margin: 3px 0;
    color: white;


}.site-footer {
    background-color: #b370b0;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    line-height: 1.5;
    font-family: 'Montserrat';
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

@media (min-width: 768px) {
        .site-footer {
    display: flex; 
    justify-content: center;
    gap: 100px;
    padding: 60px 20px;
    text-align: center;
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

.site-footer p {
    font-size: 14px;
    margin: 3px 0;
    font-family: 'Montserrat';
    color: white;
}

.demo {
    background-color: #b370b0; 
    padding: 0;
    color:  white;
    font-family: 'Montserrat';
}

}