body{
    font-family: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.demo {
    background-color: #b370b0; 
    padding: 0;
    color:  black;
    font-family: 'Montserrat';
}

.menu a:hover,
.menu a:focus {
    background-color: #d1c8e1;
    text-decoration: underline;  
}

.welcome{
    color:#87255B;
    text-align: center;
}

.info-section {
    max-width: 1100px;
    margin: 20px auto;     
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.info-box {
    background: #bba0ca;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.info-box h2 {
    font-size: 20px;
}

.info-box p{
    font-size: 18px;
}

.best-selling {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: #87255B;
}

.best-selling h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    border-bottom: 2px solid #bba0ca;
    display: inline-block;
}

.cake-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 items first row */
    gap: 25px;
    justify-items: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.cake-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cake-grid article {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    width: 100%;
}

.cake-grid h3 {
    color: #87255B;
    font-size: 20px;
}

.cake-grid p {
    color: #87255B;
    font-size: 16px;
}

.site-footer {
    background-color: #b370b0;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    line-height: 1.5;
    font-family: 'Montserrat';
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

.site-footer p {
    font-size: 14px;
    margin: 3px 0;
    color: white;
}

@media (min-width: 768px) {
    .demo {
    background-color: #b370b0; 
    padding: 0;
    color:  white;
    font-family: 'Montserrat';
}

    .info-section {
        max-width: 1100px;
        margin: 20px auto; 
        grid-template-columns: repeat(2, 1fr); 
    }

    .best-selling {
        max-width: 1000px;
        padding: 20px 0;
    }

    .cake-grid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 25px;
    }

    .site-footer {
    display: flex; 
    justify-content: center;
    gap: 100px;
    padding: 60px 20px;
    text-align: center;
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

.site-footer p {
    font-size: 14px;
    margin: 3px 0;
    font-family: 'Montserrat';
    color: white;
}

}

