body{
    font-family: 'Montserrat';
}

.demo {
    background-color: #c3cae0; 
    padding: 0;
}

.menu a:hover,
.menu a:focus {
    background-color: #d6e6dd;
    text-decoration: underline;  
}


.backgroundimg{
    background-image: url('../img/cake-landscape.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

.site-footer {
    background-color: #aeb8d8;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    line-height: 1.5;
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.site-footer p {
    font-size: 14px;
    margin: 3px 0;
}

